@model WebAppInca.Models.Material

@{
    ViewData["Title"] = "Create";
}

<h1>Crear Material</h1>
<hr />
<div class="row-">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="col-form-label-sm">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medida" class="control-label"></label>
                <input asp-for="Medida" class="form-control" />
                <span asp-validation-for="Medida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="nav-link dropdown-toggle text-black" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Unidad</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" asp-area="" asp-controller="Unidades" asp-action="Create">Crear Unidad</a></li>
                    <li><a class="dropdown-item" asp-area="" asp-controller="Unidades" asp-action="Create">Lista Unidades</a></li>
                </ul>
                <select asp-for="UnidadId" class="form-control" asp-items="ViewBag.UnidadId"></select>
            </div>
            <div class="form-group">
                <a class="nav-link dropdown-toggle text-black" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categoria</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" asp-area="" asp-controller="Categorias" asp-action="Create">Crear Categoria</a></li>
                    <li><a class="dropdown-item" asp-area="" asp-controller="Categorias" asp-action="Create">Lista Categorias</a></li>
                </ul>
                <select asp-for="CategoriaId" class="form-control" asp-items="ViewBag.CategoriaId"></select>
            </div>
            <div>
                ________________________________________________________
            </div>
            <div class="form-group">
                 <input type="submit" value="Create" class="btn btn-primary" />
                 <a asp-action="Index" class="btn btn-primary">Regresar</a>
            </div>        
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
