@{
    ViewData["Title"] = "Inicio";
}

<div class="card-text">
    <div class="jumbotron">
        @*<h1 class="display-4">Corporacion Incaprefa</h1>
        <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <hr class="my-4">*@
        <img src="https://mega.nz/file/OIUGRYQR#DjIz1T5J-NFC2RnQbo__KcSaSFw0grLt-phVPN1w61c/WhatsAppImage2022-07-14at8.33.10PM.jpeg" class="img-fluid" alt="...">

    </div>
</div>