@model WebAppInca.Models.Herramienta

@{
    ViewData["Title"] = "Create";
}

<h1>Crear Herramienta</h1>

<hr />
<div class="row">
    <div class="col-md-7">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="form-outline">
                        <label asp-for="Codigo" class="control-label"></label>
                        <input asp-for="Codigo" class="form-control" />
                        <span asp-validation-for="Codigo" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 mb-6">
                    <div class="form-outline">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="form-outline">
                        <label asp-for="Marca" class="control-label"></label>
                        <input asp-for="Marca" class="form-control" />
                        <span asp-validation-for="Marca" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 mb-6">
                    <div class="form-outline">
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="form-outline">
                        <a class="nav-link dropdown-toggle text-black" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Tipo Herramienta</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-area="" asp-controller="TipoHerramientas" asp-action="Create">Crear Tipo</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="TipoHerramientas" asp-action="Index">Lista Tipos</a></li>
                        </ul>
                        <select asp-for="TipoHerranientaId" class="form-control" asp-items="ViewBag.TipoHerranientaId"></select>
                    </div>
                </div>
                <div class="col-md-6 mb-6">
                    <div class="form-outline">
                        <a class="nav-link dropdown-toggle text-black" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Estado de Herramienta</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-area="" asp-controller="Estados" asp-action="Create">Crear Estados</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Estados" asp-action="Index">Lista Estados</a></li>
                        </ul>
                        <select asp-for="EstadoId" class="form-control" asp-items="ViewBag.EstadoId"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary">Regresar a Lista</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
